@import '@/theme/shared.scss';

.navLinks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12rem;
  row-gap: 2rem !important;
  list-style: none;
  width: 100%;

  @include md {
    gap: 3rem;
  }

  @include md {
    gap: 6rem;
    justify-content: center;
  }

  @include xs {
    gap: 2rem;
  }

  li {
    width: calc(100% / 3 - 80px);

    @include md {
      width: calc(100% / 3 - 3px);
    }

    @include sm {
      width: fit-content;
    }
  }

  a {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    transition: 0.5s;

    &::before {
      content: '';
      width: 14px;
      height: 14px;
      background-color: transparent;
      display: inline-block;
      border-radius: 50%;
      border: 1px solid #fff;
      margin-inline-end: 0.5rem;
      flex-shrink: 0;
      transition: 0.5s;
    }

    &:hover {
      opacity: 1;
    }
  }

  &:has(a:hover) {
    a:not(:hover) {
      opacity: 0.5;
    }
  }
}
