@import '@/theme/shared.scss';

.modal {
  padding: 5rem 8rem;
}

.iconWrapper {
  max-width: 7.7rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.title {
  color: $headingMainColor;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.desc {
  color: $headingMainColor;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 189%;
  text-align: center;
}
