@import '@/theme/shared.scss';

.formWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  margin: 5rem 0;
}

.img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: rgba($primaryColor , 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.input {
  height: 85px !important;
}

.button {
  height: 85px !important;
  min-width: 295px;
}

