@import '@/theme/shared.scss';

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: 5rem;
  font-weight: 700;
  color: $headingMainColor;
}